# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js dependencies
node_modules/

# Flask specific
instance/
.pytest_cache/

# MacOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# SQLite database
*.sqlite3
*.db

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# VSCode settings
.vscode/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*.swo
*.tmp