<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infinite Cats</title>
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.2/htmx.min.js"
      integrity="sha512-iRA+DJgDLUKPk+pqGpAM3+wSDeO5iKQkYXGtIv4+EA8oJWN1mewMJD7kWC9hHCyUTdey9bQypAhx6PASWShjOw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div
      hx-get="/cat?q=10"
      hx-trigger="load"
      hx-swap="beforeend"
      hx-target="#posts"></div>

    <div class="flex items-center justify-center">
      <div id="posts" class="flex flex-col w-1/4"></div>
    </div>
  </body>
</html>
